# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# native
apps/mobile/ios/
apps/mobile/android/
apps/mobile/.expo/
*.keystore
!debug.keystore

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# test
coverage/
